/* TYPOGRAPHY */
/* Font Sizing Scale (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* Font Weights */

/* Line Heights */

/* Letter Spacing */

/* COLORS */
/* 
Main:
tints:
shades:

Grey:
tints:
shades:

Accent 1:
tints:
shades:

Accent 2:
tints:
shades:

True Greys: #555
*/

/* BOX SHADOWS */

/* BORDER RADIUSES */

/* WHITESPACE  */
/* Spacing Scale (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@font-face {
  font-family: 'robotoReg';
  src: url('./font/Roboto-Regular.ttf');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'robotoReg', sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  background-color: #898f70;
}
:root {
  --color-true-gray: #555;
}

.hidden {
  display: none;
}

/* IMAGE STYLING */
.wide-img,
.tall-img,
.square-img {
  border-radius: 9px;
}
.wide-img {
  width: 40rem;
}
.tall-img {
  width: 15rem;
}
.square-img {
  width: 28rem;
}

/* HEADER STYLING */
.header-primary {
  font-size: 5.4rem;
  padding: 1rem;
  text-align: center;
}
.header-secondary {
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
}
.header-tertiary {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* SECTION STYLING */
.section {
  padding: 1rem 8rem;
  width: 80rem;
  margin: auto;
}

/* TABS STYLING */
.tabs {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}
.tab {
  width: 14rem;
  height: 6rem;
  border-radius: 9px;
  border: none;
  background-color: #585c48;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;

  transition: all 300ms;
}
.tab:hover {
  cursor: pointer;
  background-color: #dce7ad;
  color: #000;
}

/* HOME STYLING */
.intro,
.hours,
.location {
  margin-bottom: 1rem;
}
